.journal {
    background-color: #0F52BA; /* Sapphire blue */
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.image-entry {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 8px;
}

h1 {
    font-size: 2em;
    color: #333;
}

p {
    font-size: 1.2em;
    color: #666;
}
